allow hal_camera_default mnt_vendor_file:dir getattr;
allow hal_camera_default mnt_vendor_file:file read;
allow hal_camera_default self:socket read;
allow hal_camera_default socket_device:sock_file write;
